*{
    margin: 0px;
    padding:0px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 1.5rem;
    color:  #2f2f30 ;
}

body{
    background-color: #f4fcf4 ;
}
/* NAV BAR */

nav{
    padding: 0%;
    margin:0 5% 0 5%;
    width: 80%;
    height: auto;
    position: fixed;
    z-index: 5; 
}

nav img{
    width: 15%;
    height: 5%;
    align-items: baseline;
}

nav ul{
    margin: 2%;
    list-style: none;
    display: flex;
    float: right;
}

nav ul li{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}

img.nav_down_arrow{
    margin: 3% 5% 0% 0%;
    width: 10%;
}

.nav_btn{
    width: 100%;
    border-radius: 2rem;
    border: 0.5vh #fc546c solid;
    padding: 1% 3%;
    /*background-color:  #f3fbfb;
    color: #fc546c;*/ 
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
    color:#fc546c;
}
/*.nav_btn a{
    text-decoration: none;
    color:#fc546c;
}*/

.nav_btn:hover{
    background-color: #fc546c;
    color:#f3fbfb;
    border: 1px solid #31a4a4 ;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    color:  #2f2f30 ;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: none;
    list-style: none;
    color:  #fc546c ;
    font-weight: bold;
}
/* /NAV BAR */
/* HEADER */
.header_yellow_circle{
    position: absolute;
    width: 2%;
    z-index: 3;
    padding: 12% 7% 0% 82%;
    margin: -0.5% 5% -10%;
}

.header_yellow_circle img{
    width: 100%;
}

.header_green_diamond{
    position: absolute;
    width: 1%;
    z-index: 3;
    padding: 12% 82% 0% 3%;
    margin: -0.5% 5% -10%;
}

.header_green_diamond img{
    width: 100%;
}

.header_tittle{
    width:60%;
    margin: 60px;
    padding: 15%;
    position: relative;
}
h1{
    padding: 0% 0% 5% 0%;
    font-size: 500%;
    text-align: center;
}

.header_subtittle{
    font-size: 30px;
    text-align: center;
    color:  #7c7c7c;
}
.header_buttons{
    display: flex;
    justify-content: space-evenly;
    /*text-align: center;
    width: 25%;*/
    margin: 10% 15%;
    padding: 5% 0%

}
.header_btn{
    width: 45%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    /*margin: 0 5%;
    padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #fc546c ;
    color: #f3fbfb ; 
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
}
.header_btn img{
    padding: 5%;
}
.header_white_circle{
    position: absolute;
    width: 40%;
    z-index: -1;
    margin: -10% 0% -10% -36%;
}

.header_white_circle img{
    width: 100%;
}

.header_blue_circle{
    width: 10%;
    z-index: 3;
    margin: -13% -0.5% 5% -10%;
}
.header_blue_circle img{
    width: 100%;
}
/* /HEADER */
