*{
    margin: 0px;
    padding:0px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 1.5rem;
    color:  #2f2f30 ;
}

body{
    background-color: #f4fcf4 ;
}
/* NAV BAR */

nav{
    display: flex;
    width: 100%;
    padding: 3% 0% 1% 0%;
    justify-content: space-evenly;
    background-color: #f4fcf4;
    border-bottom: 1px solid #c8d4d6;
    position: fixed;
    z-index: 5; 
}
#nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}
#nav_logo img{
    width: 50%;
    padding: 5%;
    margin: auto;
}
.nav_container{
    width: 80%;
    display: flex;
    align-items: center;
}
#nav_list{
    width: 80%;
}
nav ul{
    width: 100%;
    /*margin: auto;*/
    list-style: none;
    display: flex;
    justify-content: end;
}

nav ul li{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}

img.nav_down_arrow{
    width: 2%;
    height: 2%;
    margin: 0% 2% 0% -1%;
    align-self: center;
}

.nav_btn{
    display: flex;
    align-items: center;
    height: 60%;
    width: 18%;
    margin: 0% 5% 0% 1%;
    border-radius: 2rem;
    border: 0.5vh #fc546c solid;
    font-size: 1.3rem;
    font-weight: bold;
    justify-content: center;
    color:#fc546c;
}
.nav_btn a{
    padding: 1% 1%;
    text-decoration: none;
    color:#fc546c;
}

.nav_btn:hover{
    background-color: #fc546c;
    color:#f3fbfb;
    border: 1px solid #f3fbfb ;
}
.nav_btn a:hover{
    color:#f3fbfb;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    color:  #2f2f30 ;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: none;
    list-style: none;
    color:  #fc546c ;
    font-weight: bold;
}
/* /NAV BAR */
/* HEADER */
.header_yellow_circle{
    position: absolute;
    width: 2%;
    z-index: 3;
    padding: 12% 7% 0% 82%;
    margin: -0.5% 5% -10%;
}

.header_yellow_circle img{
    width: 100%;
}

.header_green_diamond{
    position: absolute;
    width: 1%;
    z-index: 3;
    padding: 12% 82% 0% 3%;
    margin: -0.5% 5% -10%;
}

.header_green_diamond img{
    width: 100%;
}

.header_tittle{
    width:60%;
    margin: auto;
    padding: 20% 15% 0%;
    position: relative;
}
h1{
    padding: 0% 0% 5% 0%;
    font-size: 500%;
    text-align: center;
}

.header_subtittle{
    font-size: 30px;
    text-align: center;
    color:  #7c7c7c;
}
.header_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*text-align: center;
    width: 25%;*/
    margin: 10% 15%;
    padding: 5% 0%

}
.header_btn{
    width: 45%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    /*margin: 0 5%;
    padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #fc546c ;
    color: #f3fbfb ; 
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
}
.header_btn img{
    padding: 5%;
}
.header_white_circle_1{
    position: absolute;
    width: 40%;
    z-index: -1;
    margin: -10% 0% -10% -36%;
}
/* 
.header_white_circle_1 img{
    width: 100%;
}
.header_white_circle_2{
    position: absolute;
    width: 30%;
    z-index: -1;
    margin: -45% 0% 0% 80%;
}

.header_white_circle_2 img{
    width: 100%;
} */

.header_blue_circle{
    width: 10%;
    z-index: 3;
    margin: -13% -0.5% 5% -10%;
}
.header_blue_circle img{
    width: 100%;
}
/* /HEADER */
