/* MAIN */
*{
    margin: 0px;
    padding:0px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 1.5rem;
    color:  #2f2f30 ;
}

main{
    width: 100%;
    padding: 5%;

}
#main_picture{
    margin: auto;
    width: 70%;
}

#main_picture img{
    width: 100%;
    height: auto;
}

#main_uses{
    width: 80%;
    margin:auto;
    height: auto;
    padding-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /*padding-bottom: 150px;*/
}
#main_uses p{
    margin-top: 10%;
    padding-top: 5%;
}
.main_uses_circles{
    width: 20%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.circle{
    /*width: 200px;*/
    width: 100%;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circles img{
    /*padding: 30%;*/
    /*width: 10%;*/
    width: 30%;
   /* align-content: center;
    justify-content: center;*/
    margin: 25% 10%;
}

#circle_purple{
    background-color: #e3d2fa ;
    border-radius: 50%;
    width: 70%;
}

#circle_green{
    background-color: #dbede7 ;
    border-radius: 50%;
    width: 70%;
}

#circle_orange{
    background-color:  #f9a2a7;
    border-radius: 50%;
    width: 70%;
    width: 70%;
}

#circle_yellow{
    background-color:  #fbf3dc ;
    border-radius: 50%;
    width: 70%;
}
#circle_blue{
    background-color: #e4f3fb ;
    border-radius: 50%;
    width: 70%;
}
/* /MAIN */

/* PART2*/
/* DESCRIPTION_1 */

#description_1{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-evenly;
}
.description_1_article1{
    display: flex;
    width: 40%;
}
.description_1_article1 img{
    display: flex;
    width: 90%;
    height: 90%;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.description_1_article2{
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}
.description_1_btn{
    width: 30%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    /*padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #fc546c ;
    color: #f3fbfb ; 
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
    transition: 0.2s;
}
.description_1_btn:hover{
    background-color: #fc546c;
    color:#f3fbfb;
    border: 1px solid #f3fbfb ;
    box-shadow: 0 0 20px #f33e59, 0 0 50px #f33e59, 0 0 20px #f33e59;
    transition-delay: 0.5s;
    }

h2{
    margin: 2% 5% 5% 5%;
    /*padding: 0% 0% 5% 0%;*/
    font-size: 300%;
    text-align: center;
}

.description_1_article2 p{
    margin: 3% 0%;
    font-size: 150%;
    text-align: justify;
    color:  #7c7c7c;
}

.description_1_article2 ul li{
    margin-left: 5%;
    padding: 2% 2%;
    font-size: 150%;
    text-align: justify;
    color: #7c7c7c;
}
/* /DESCRIPTION_1 */

/* DESCRIPTION_2 */
#description_2{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-evenly;
    background-color: #e4ecf3 ;
}
.description_2_buttons_top{
    width: 65%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    margin: 8% 0% 10% 2%
}
.description_2_btn_top_purple{
    width: 45%;
    height: 8vh;
    margin: 2%;
    background-color:  #9c68e7 ;
    color: #e4ecf3;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
    /*display: flex;*/
}
.description_2_btn_top_purple img{
    padding: 0% 4% 1% 5%;
    width: 15%;
}
.description_2_btn_top_purple:hover{
    background-color: #9c68e7;
    color:#e4ecf3;
    border: 1px solid #e4ecf3;
    box-shadow: 0 0 20px #9c68e7, 0 0 50px #9c68e7, 0 0 20px #9c68e7;
    transition-delay: 0.5s;
}
.description_2_btn_top{
    width: 45%;
    height: 8vh;  
    margin: 2%; 
    font-size: 1.5rem;
    background-color: #e4ecf3;
    color: #7c7c7c;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}
.description_2_btn_top img{
    width: 15%;
}
.description_2_btn_top:hover{
    background-color: #7c7c7c;
    color:#e4ecf3;
    border: 1px solid #e4ecf3;
    box-shadow: 0 0 20px #7c7c7c, 0 0 50px #7c7c7c, 0 0 20px #7c7c7c;
    transition-delay: 0.5s;
}
.description_2_article3{
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    display: table-column;
}
.description_2_article3 p{
    margin: 3% 0%;
    font-size: 150%;
    text-align: justify;
    color:  #7c7c7c;
}

.description_2_article3 ul li{
    margin-left: 5%;
    padding: 2% 2%;
    font-size: 150%;
    text-align: justify;
    color: #7c7c7c;
    list-style-type: square;
    list-style-image: url('/images/iconos/icon_checkbox.png');
}

.description_2_article4{
    display: flex;
    width: 40%;
}
.description_2_article4 img{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.description_2_buttons_down{
    margin-top: 5%;
}

.description_2_btn_empty{
    width: 30%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    /*padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #f3fbfb;
    color: #fc546c ; 
    border: #fc546c solid 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
}
.description_2_btn_empty:hover{
    background-color: #fc546c ;
    color:#e4ecf3;
    border: 1px solid #e4ecf3;
    box-shadow: 0 0 20px #fc546c , 0 0 50px #fc546c , 0 0 20px #fc546c ;
    transition-delay: 0.5s;
}

/* /BANNER PART2 2. */
/* /PART2*/

/*RESPONSIVE*/
@media(max-width:768px){
    #main_uses{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin:auto;
    }
    #main_uses{
        height: 40%;
    }
    .main_uses_circles{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin:auto;
        width:60%;
        padding: 5%;
    }
    #description_1{
        display: block;
        margin: auto;
    }
    .description_1_article1{
        width: 80%;
        margin: auto;
        padding: 20% 0%;
    }
    .description_1_article1 img{
        width: 100%;
    }
    .description_1_article2{
        width: 80%;
        margin: auto;
        padding: 20% 0%;
    }
    .description_1_btn{
        font-size: 1rem;
        width: 40%;
    }
    #description_2{
        display: block;
        margin: auto;
        padding: 5% 1%;
    }
    .description_2_article3{
        display: block;
        width: 70%;
        margin: auto;
        padding-right: -5%;
        padding-top: 5%;
    }
    .description_2_buttons_top{
        display: block;
        width: 100%;
    }
    .description_2_btn_top_purple{
        font-size: 1.2rem;
    }
    .description_2_btn_top{
        font-size: 1.2rem;
    }
    .description_2_btn_empty{
        font-size: 1rem;
        width: 40%;
    }
    .description_2_article4{
        width: 100%;
        margin: auto;
        padding: 20% 0%;
    }
    .description_2_article4 img{
        width: 100%;
        margin: auto;
    }
}


/*ANIMATIONS*/

#icon_purple:hover {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
#icon_green:hover{
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
#icon_orange:hover{
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
#icon_yellow:hover{
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
#icon_blue:hover{
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
  
  