/* MAIN */
*{
    margin: 0px;
    padding:0px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 1.5rem;
    color:  #2f2f30 ;
}

main{
    width: 80%;
    margin: -15% 10%;
}

#main_picture img{
    width: 100%;
    height: auto;
}

#main_uses{
    margin-top: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /*padding-bottom: 150px;*/
}
#main_uses p{
    margin-top: 10%;
}
.main_uses_circles{
    flex-wrap: wrap;
    width: 20%;
    height: auto;
    justify-content: space-evenly;
    display:flex;
    flex-flow: column;
    height: 35vh;
    margin: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.circle{
    /*width: 200px;*/
    width: 100%;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circles img{
    /*padding: 30%;*/
    /*width: 10%;*/
    width: 60%;
   /* align-content: center;
    justify-content: center;*/
    margin: 25% 10%;
}

#circle_purple{
    background-color: #e3d2fa ;
    border-radius: 50%;
    width: 100%;
    /*height: 70%;*/
}

#circle_green{
    background-color: #dbede7 ;
    border-radius: 50%;
   /* width: 100%;
    height: 25vh;*/
}

#circle_orange{
    background-color:  #f9a2a7;
    border-radius: 50%;
    /*width: 100%;
    height: 25vh;*/
}

#circle_yellow{
    background-color:  #fbf3dc ;
    border-radius: 50%;
    /*width: 100%;
    height: 25vh;*/
}
#circle_blue{
    background-color: #e4f3fb ;
    border-radius: 50%;
    /*width: 100%;
    height: 25vh;*/
}
/* /MAIN */

/* PART2*/
/* DESCRIPTION_1 */

#description_1{
    width: 100%;
    height: 80%;
    display: flex;
    margin-top: 25%;
    justify-content: space-evenly;
}
.desCription_1_article1{
    display: flex;
    width: 40%;
}
.description_1_article1 img{
    display: flex;
    width: 90%;
    height: 90%;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.description_1_article2{
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
}
.description_1_btn{
    width: 30%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    /*padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #fc546c ;
    color: #f3fbfb ; 
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
}

h2{
    margin: 2% 5% 5% 5%;
    /*padding: 0% 0% 5% 0%;*/
    font-size: 300%;
    text-align: center;
}

.description_1_article2 p{
    margin: 3% 0%;
    font-size: 150%;
    text-align: justify;
    color:  #7c7c7c;
}

.description_1_article2 ul li{
    margin-left: 5%;
    padding: 2% 2%;
    font-size: 150%;
    text-align: justify;
    color: #7c7c7c;
}
/* /DESCRIPTION_1 */

/* DESCRIPTION_2 */
#description_2{
    width: 100%;
    height: 80%;
    display: flex;
    margin-top: 15%;
    justify-content: space-evenly;
    background-color: #e4ecf3 ;
}
.description_2_buttons_top{
    width: 65%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    margin: 8% 0% 10% 2%
}
.description_2_btn_top_purple{
    width: 45%;
    height: 8vh;
    margin: 2%;
    background-color:  #9c68e7 ;
    color: #e4ecf3;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    /*display: flex;*/
}
.description_2_btn_top_purple img{
    padding: 0% 4% 1% 5%;
    width: 15%;
}
.description_2_btn_top{
    width: 45%;
    height: 8vh;  
    margin: 2%; 
    font-size: 1.5rem;
    background-color: #e4ecf3;
    color: #7c7c7c;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.description_2_btn_top img{
    width: 15%;
}
.description_2_article3{
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    display: table-column;
}
.description_2_article3 p{
    margin: 3% 0%;
    font-size: 150%;
    text-align: justify;
    color:  #7c7c7c;
}

.description_2_article3 ul li{
    margin-left: 5%;
    padding: 2% 2%;
    font-size: 150%;
    text-align: justify;
    color: #7c7c7c;
    list-style-type: square;
    list-style-image: url('/images/iconos/icon_checkbox.png');
}

.description_2_article4{
    display: flex;
    width: 40%;
}
.description_2_article4 img{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.description_2_buttons_down{
    margin-top: 5%;
}

.description_2_btn_empty{
    width: 30%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    /*padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #f3fbfb;
    color: #fc546c ; 
    border: #fc546c solid 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
}

/* /BANNER PART2 2. */
/* /PART2*/

