/* PART3 */
/* SCREENS_1 */
#screens_1{
    width: 100%;
    margin: auto;
    background-color: #f4fcf4;
}
#screens_1 h2{
    padding-top: 10%;
}

.screens_1_boxes{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px 200px;
    grid-gap: 2%;
}
#screens_1_box_4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: 0% 10%;
}
.screens_1_box_4_logo{
    width: 20%;
    margin:2%;
}
#screens_1_box_4 img{
    width: 100%;
}
.screens_1_box{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

.screens_1_box_stars{
    width: 70%;
    height: 14%;
    margin: auto;
    display: flex;
}

.screens_1_box_stars img{
    width: 15%;
    margin:auto;
}

.screens_1_boxes p{
    font-style: italic;
    text-align: center;
    padding: 5%;
    font-size: 1.5rem;
    color: #7c7c7c;
}
.screens_1_boxes h4{
    margin-top: 5%;
    text-align: center;
    font-size: 1.5rem;
}
/*SCREENS_1*/
/*SCREENS_2*/
#screens_2{
    width: 100%;
    margin: 5% 0%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #e4ecf3 ;
}
.screens_2_statistics{
    flex-wrap: wrap;
    width: 10%;
    height: auto;
    justify-content: space-evenly;
    display:flex;
    flex-flow: column;
    height: 35vh;
    margin: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.screens_2_icons{
    width: 100%;
    background-color: #e4ecf3 ;
    justify-content: center;
    align-items: center;
    display: flex;
}
.screens_2_icons img{
    width: 50%;
}
.screens_2_statistics p{
    color:#7c7c7c;
}
.screens_2_numbers{
    font-size: 4rem;
    font-weight: bolder;
    color: black;
}
/*/SCREENS_2*/

/* /PART3 */

/*SCREENS_3*/
/*SCREENS_3_ARTICLE_1*/
#screens_3{
    width: 100%;
    margin: 10% 0%;
    background-color: #f4fcf4;
}

#screens_3_pictures{
    width: 80%;
    margin: auto;
}

#screens_3_iphone{
    width: 100%;
    height: auto;
}
#screens_3_white_circle_1{
    position: absolute;
    width: 30%;
    z-index: 1;
    margin: -20% 0% 80% -25%;
}
#screens_3_white_circle_1 img{
    width: 100%;
}
#screens_3_blue_circle{
    position: absolute;
    width: 7%;
    z-index: 3;
    margin:-38% 0% 0% 76%;
}
#screens_3_blue_circle img{
    width: 100%;
}/*
#screens_3_white_circle_2{
    position: absolute;
    width: 30%;
    z-index: 1;
    margin: -50% 0% 0% 80%;
}
#screens_3_white_circle_2 img{
    width: 100%;
} */
#screens_3_yellow_circle{
    position: absolute;
    width: 3%;
    z-index: 3;
    margin: -3% 0% 0% 4%;
}
#screens_3_yellow_circle img{
    width: 100%;
}
#screens_3_green_diamond{
    position: absolute;
    width: 2%;
    z-index: 3;
    margin:-56% 0% 0% 65%;
}
#screens_3_green_diamond img{
    width: 100%;
}
/*/SCREENS_3_ARTICLE_1*/
/*SCREENS_3_ARTICLE_2*/
#screens_3_text{
    width:80%;
    margin: auto;
    padding-top: 5%;
}
#screens_3_text p{
    font-size: 1.9rem;
    text-align: center;
    color:  #7c7c7c;
}
#screens_3_buttons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 10%;
}
.screens_3_btn{
    width: 45%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    /*margin: 0 5%;
    padding: 10% 20%;*/
    border-radius: 2rem;
    border: none;
    background-color:  #fc546c ;
    color: #f3fbfb ; 
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-flex;
}
.screens_3_btn img{
    padding: 5%;
}
/*/SCREENS_3_ARTICLE_2*/
/*/SCREENS_3*/